.footer {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    img {
        max-width: 150px;
        max-height: 100px;
        position: relative;
        right: 23px;
    }

    h5 {
        margin-top: 20px;
    }
}
