
.sidebar {

    /* Sidebar */

    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;

    /* Sidebar navigation */

    padding-left: 0;
    padding-right: 0;

    .nav {
        margin-bottom: 20px;
    }

    .nav-item {
        width: 100%;
    }

    .nav-item + .nav-item {
        margin-left: 0;
    }

    .nav-link {
        border-radius: 0;
    }

    .new-collection-menu {
        position: fixed;
        bottom: 0;
        margin-bottom: 0;

        .btn {
            border-radius: 0;
        }
    }

    /* Counter badge */

    .nav .nav-item .nav-link {
        .badge {
            margin-top: 3px;
        }

        &.active {
            .badge-default {
                background-color: #fff;
                color: $badge-default-bg;
            }
        }
    }

}



